.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.Right {
  display: flex;
  flex-direction: row;
}

.NextAndScore {
  display: flex;
  flex-direction: column;
}

.Score {
  margin-left: 10px;
  font-family: 'Press Start 2P', cursive;
}

.Side {
  padding-top: -15%;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  align-items: flex-start;
}

.Adversaire {
  border: 1px solid white;
  width: 30vw;
  max-width: 300px;
  height: 60vw;
  max-height: 600px;
  border: 1px solid #d40e0e;
  box-sizing: border-box;
  box-shadow: transparent;
  background-color: rgb(77, 77, 77);
}

.Commands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  max-width: 300px;
  height: 20vw;
  max-height: 180px;
  border: 1px solid #d40e0e;
  box-sizing: border-box;
  box-shadow: transparent;
  background-color: rgba(10, 10, 10, 0.781);
}

.Move {
  display: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 80%;
  margin: 10%;
  padding: 20px;
  border: 1px solid #d40e0e;
  box-sizing: border-box;
  box-shadow: transparent;
  background-color: rgba(10, 10, 10, 0.781);
}

.Arrows {
  width: 300px;
}

.Space {
  display: flex;
  background-color: rgb(31, 31, 31);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
}

.SpaceBar {
  width: 70%;
}

@media (max-width: 499px) {
  .Adversaire {
    width: 100px;
    height: 200px;
  }

  .Commands {
    display: none;
  }

  .Next {
    width: 50px;
    height: 50px;
  }

  .Move {
    display: flex;
  }

  .Arrows {
    width: 60%;
  }

  .Space {
    width: 48px;
    height: 48px;
  }
}
