.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.BoxInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  width: 60%;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid #d40e0e;
  box-sizing: border-box;
  box-shadow: transparent;
  background-color: rgba(255, 255, 255, 0.781);
}

.BoxTitle {
  color: #d40e0e;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 5%;
  font-weight: bold;
}

.Invalid {
  color: #d40e0e;
}

.InvalidField {
  border: 1px solid red;
  background-color: #fda49a;
}

.Logo img {
  display: flex;
  margin: 10px;
  width: 100%;
}

@media (min-width: 500px) {
  .Logo img {
    display: flex;
    width: 50%;
  }
}
