.Next {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-width: 100px;
    min-height: 300px;
    margin-bottom: 15px;
    margin-left: -2px;

    border-top: 20px solid #d40e0e;
    border-right: 20px solid #d40e0e;
    border-bottom: 20px solid #d40e0e;
    background-color: rgb(77, 77, 77);

    box-sizing: border-box;
    box-shadow: transparent;

}


.piece {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.case {
    display: flex;
    width: 15px;
    height: 15px;
}