.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.img {
  height: 100%;
  width: 100%;
}

@media (max-width: 500px) {
  .Logo {
    width: 35%;
    margin-bottom: 2%;
  }
}
